.table {
    border-collapse: collapse;
}
.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
}
.table tr:nth-child(even){background-color: #f2f2f2;}
.table tr:hover {background-color: #ddd;}
.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.input {
    display: block;
    border: #ddd 1px solid;
    padding: 8px;
}

.button {
    padding: 8px;
    background-color: #04AA6D;
    color: white;
}

.toast {
    padding: 8px;
    background-color: #04AA6D;
    color: white;
}